<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Home</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/swiper-bundle.min.css') }}">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">

        <!-- Bootstrap CSS -->
        <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

	</head>
	<body>
        <header class="header" id="header">
            <nav class="nav container">
                <a href="/" class="nav__logo">Rākau Gardening</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="{{ url_for('timetable_page.view_timetable') }}" class="nav__link">Timetable</a>
                        </li>
                        <li class="nav__item">
                            <a href="{{ url_for('account_page.login') }}" class="nav__link">Login</a>
                        </li>
                    </ul>
                    <i class="ri-close-line nav__close" id="nav-close"></i>
                </div>
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>

        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home" id="home">
                <img src="{{ url_for('static', filename='assets/img/home1.jpg') }}" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        <span class="home__data-subtitle">New Zealand's Native Gardening Haven</span>
                        <h1 class="home__data-title">Cultivate Growth <br>With Rākau</h1>
                        <a href="{{ url_for('account_page.register') }}" class="button">Join us</a>

                    </div>

                    <div class="home__social">
                        <a href="#" class="home__social-link">
                            <i class="ri-facebook-box-fill"></i>
                        </a>
                        <a href="#" class="home__social-link">
                            <i class="ri-instagram-fill"></i>
                        </a>
                        <a href="#" class="home__social-link">
                            <i class="ri-twitter-fill"></i>
                        </a>
                    </div>

                    <div class="home__info">
                        <div>
                            <span class="home__info-title">View Our Timetable</span>
                            <a href="{{ url_for('timetable_page.view_timetable') }}" class="button button--flex button--link home__info-button">
                                More <i class="ri-arrow-right-line"></i>
                            </a>
                        </div>

                        <div class="home__info-overlay">
                            <img src="{{ url_for('static', filename='assets/img/home2.jpg') }}" alt="" class="home__info-img">
                        </div>
                    </div>
                </div>
            </section>

            <!--==================== ABOUT ====================-->
            <section class="about section" id="about">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">About Us</h2>
                        <p class="about__description"> At Rākau Gardening Society, we're more than just a club; we're a community dedicated to the beauty and sustainability of New Zealand's native plants and trees. By becoming a member, you unlock a world of exclusive benefits, expert guidance, and the company of fellow gardening enthusiasts.
                            prices with special discounts, you choose the place we will guide you all the way to wait, get your 
                            place now.
                        </p>
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="{{ url_for('static', filename='assets/img/about1.jpg') }}" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="{{ url_for('static', filename='assets/img/about2.jpg') }}" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
            
            <!--==================== WORKSHOPS ====================-->
            <section class="discover section" id="discover">
                <h2 class="section__title">Discover Our <br> Workshops</h2>
                
                <div class="discover__container container swiper-container">
                    <div class="swiper-wrapper">
                        {% for workshop in workshops %}
                        <div class="discover__card swiper-slide">
                            <a href="/workshop/{{workshop.workshop_id}}">
                                {% if workshop.filename %}
                                    <img src="{{ url_for('static', filename='assets/img/' ~ workshop.filename) }}" alt="" class="discover__img">
                                {% else %}
                                    <img src="{{ url_for('static', filename='assets/img/no_image.jpg') }}" alt="" class="discover__img">
                                {% endif %}
                            </a>
                            <div class="discover__data">
                                <h2 class="discover__title">{{ workshop.title }}</h2>
                                <span class="discover__description">{{ workshop.slots}} slots available</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <!--==================== EXPERIENCE ====================-->
            <section class="experience section">
                <h2 class="section__title">Our Gardening Expertise</h2>

                <div class="experience__container container grid">
                    <div class="experience__content grid">
                        <div class="experience__data">
                            <h2 class="experience__number">25+</h2>
                            <span class="experience__description">Year <br> Experience</span>
                        </div>

                        <div class="experience__data">
                            <h2 class="experience__number">5+</h2>
                            <span class="experience__description">Expert <br>Instructors</span>
                        </div>

                        <div class="experience__data">
                            <h2 class="experience__number">20+</h2>
                            <span class="experience__description">Happy <br> Members</span>
                        </div>
                    </div>

                    <div class="experience__img grid">
                        <div class="experience__overlay">
                            <img src="{{ url_for('static', filename='assets/img/experience1.jpg') }}" alt="" class="experience__img-one">
                        </div>
                        
                        <div class="experience__overlay">
                            <img src="{{ url_for('static', filename='assets/img/experience2.jpg') }}" alt="" class="experience__img-two">
                        </div>
                    </div>
                </div>
            </section>

            <!--==================== INSTRUCTORS ====================-->
            <section class="place section" id="place">
                <h2 class="section__title">Choose Your Instructor</h2>

                <div class="place__container container grid">
                    <!--==================== INSTRUCTORS ====================-->
                    {% for instructor in instructors %}
                    <div class="place__card">
                        {% if instructor.profile_image %}
                        <img src="{{ instructor.profile_image }}" class="place__img" alt="Profile Image" style="object-fit: cover;">
                        {% elif instructor.filename and instructor.image_status=='Active' %}
                            <img src="{{ url_for('static', filename='assets/img/' ~ instructor.filename) }}" class="place__img" alt="Profile Image" style="object-fit: cover;">
                        {% else %}
                            <img src="{{ url_for('static', filename='assets/img/profile-img.png') }}" class="place__img" alt="Profile Image" style="max-width:170px; max-height:260px; object-fit: cover;">
                        {% endif %}
        
                        <div class="place__content">

                            <div class="place__data">
                                <h3 class="place__title"> {{ instructor.first_name }} {{ instructor.last_name }} </h3>
                                <span class="place__subtitle"> {{ instructor.position }} </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>

            <!--==================== SUBSCRIBE ====================-->
            <section class="subscribe section">
                <div class="subscribe__bg">
                    <div class="subscribe__container container">
                        <h2 class="section__title subscribe__title">Subscribe Our <br> Newsletter</h2>
                        <p class="subscribe__description">Subscribe to our newsletter to stay up to date with the latest updates.
                        </p>

                        <form action="" class="subscribe__form">
                            <input type="text" placeholder="Enter email" class="subscribe__input" readonly>

                            <button class="button">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </section>
            
        </main>

        {% include 'footer.html' %}

        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line scrollup__icon"></i>
        </a>

        <!--=============== SCROLL REVEAL===============-->
        <script src="{{ url_for('static', filename='assets/js/scrollreveal.min.js') }}"></script>
        
        <!--=============== SWIPER JS ===============-->
        <script src="{{ url_for('static', filename='assets/js/swiper-bundle.min.js') }}"></script>

        <!--=============== MAIN JS ===============-->
        <script src="{{ url_for('static', filename='assets/js/main_base.js' ) }}"></script>
	</body>  
</html>


