{% extends "layout.html" %}
{% block title %}List of Instructors{% endblock %}

{% block content %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>List of Instructors</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('account_page.dashboard') }}">Home</a></li>
        <li class="breadcrumb-item active">List of Instructors</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <!-- Loop through instructors_list and create a card for each instructor -->
      {% for instructor in instructors_list %}
      <div class="col-lg-4">
        <div class="card instructor-card">
          {% if instructor.profile_image %}
          <img src="data:image/jpeg;base64,{{ instructor.image_data }}" class="img-fluid" alt="Profile Image">
          {% elif instructor.filename and instructor.image_status=='Active' %}
            <img src="{{ url_for('static', filename='assets/img/' ~ instructor.filename) }}" class="img-fluid" alt="Profile Image" style="object-fit: cover;">
          {% else %}
            <img src="{{ url_for('static', filename='assets/img/profile-img.png') }}" class="img-fluid" alt="Profile Image">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ instructor.title }} {{ instructor.first_name }} {{ instructor.last_name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ instructor.position }}</h6>
            <p class="card-text"><i class="bi bi-telephone-fill"></i> {{ instructor.phone_number }}</p>
            <p class="card-text"><i class="bi bi-envelope-fill"></i> {{ instructor.email }}</p>
            <p class="card-text"><i class="bi bi-geo-alt-fill"></i> {{ instructor.address }}</p>
            <p class="card-text">{{ instructor.instructor_profile }}</p>
          </div>
          <!-- Lessons List -->
          {% if instructor.lessons|length > 0 %}
            <div class="card-header">
              <h6 class="mb-0">Scheduled Lessons</h6> <!-- This is the header above the lesson list -->
            </div>
            <ul class="list-group list-group-flush">
              {% for lesson in instructor.lessons %}
              <li class="list-group-item">
                <span class="badge {{ 'bg-success' if lesson.status == 'Available' else 'bg-danger' if lesson.status == 'Reserved' }}">
                  {{ lesson.status }}
                </span>
                <a href="{{ url_for('schedule_page.lesson_detail', lesson_id=lesson.lesson_id) }}" class="lesson-name-link">
                  {{ lesson.name }}
                </a>
                <br>
                <small>Date: {{ lesson.date }}</small>
                <small>Time: {{ lesson.start_time }} - {{ lesson.end_time }}</small>
              </li>
              {% endfor %}
            </ul>
          {% else %}
            <div class="card-footer">No lessons currently scheduled.</div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

</main><!-- End #main -->

{% endblock %}
