<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/logo2.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/logo2.png' ) }}" rel="logo">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/quill/quill.bubble.css" rel="stylesheet') }}">
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
  
  {% block extra_css %}{% endblock %}

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{{ url_for('account_page.dashboard') }}" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='assets/img/logo2.png') }}" alt="" >
        <span class="d-none d-lg-block">Rākau Gardening</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->
    
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            {% if login.image_data_base64 %}
            <img src="data:image/jpeg;base64,{{ login.image_data_base64 }}" class="rounded-circle" alt="Profile Image">
            {% elif login.filename and login.image_status=='Active' %}
              <img src="{{ url_for('static', filename='assets/img/' ~ login.filename) }}" class="rounded-circle"alt="Profile Image">
            {% else %}
              <img src="{{ url_for('static', filename='assets/img/profile-img.png') }}" alt="Profile" class="rounded-circle">
            {% endif %}
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ login.first_name if login else 'Guest' }} {{ login.last_name if login else '' }}</span>
          </a><!-- End Profile Image Icon -->
          
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ login.first_name if login else 'Guest' }} {{ login.last_name if login else '' }}</h6>
              <span>{{ login.position if login else '' }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('account_page.profile') }}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            {% if session['role'] == 'Member' %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('subscription_page.manage_subscription') }}">
                <i class="bi bi-credit-card"></i>
                <span>Manage Subscription</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('account_page.faq') }}">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('account_page.logout') }}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{{ url_for('account_page.dashboard') }}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-heading">Account</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('account_page.profile') }}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      {% if session['role'] == 'Manager' %}
      <li class="nav-heading">User Management</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('account_page.userList') }}">
          <i class="bi bi-people"></i>
          <span>User Profile</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('subscription_page.member_subscriptionlist') }}">
          <i class="bi bi-credit-card"></i>
          <span>Member Subscription</span>
        </a>
      </li><!-- End ManagePage Nav -->
      {% endif %}

      {% if session['role'] == 'Member' %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('subscription_page.manage_subscription') }}">
          <i class="bi bi-credit-card"></i>
          <span>Subscription</span>
        </a>
      </li><!-- End Manage Subscription Nav -->
      {% endif %}

      {% if session['role'] == 'Member' %}
      <li class="nav-heading">Instructors</li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('schedule_page.view_instructors_list') }}">
          <i class="bi bi-people"></i>
          <span>Instructors</span>
        </a>
      </li><!-- End Manage Subscription Nav -->
      {% endif %}

      <li class="nav-heading">Scheduling</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('timetable_page.view_timetable') }}">
          <i class="bi bi-calendar3"></i>
          <span>Timetable</span>
        </a>
      </li><!-- End Manage Subscription Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('schedule_page.manage_lessons') }}">
          <i class="ri-presentation-line"></i>
          <span>Lessons</span>
        </a>
      </li><!-- End Manage Subscription Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('workshop_page.workshop_list') }}">
          <i class="bx bxs-institution"></i>
          <span>Workshops</span>
        </a>
      </li>

      {% if session['role'] == 'Manager' or session['role'] == 'Instructor' %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('manage_page.attendance') }}">
          <i class="bx bxs-user-check"></i>
          <span>Take Attendance</span>
        </a>
      </li>
      {% endif %}

      {% if session['role'] == 'Manager' %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('location_page.location_list') }}">
          <i class="ri-map-pin-line"></i>
          <span>Location</span>
        </a>
      </li>

      <li class="nav-heading">Financial</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('manage_page.priceManagement') }}">
          <i class="ri-price-tag-line"></i>
          <span>Pricing</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('payment_page.payment_management') }}">
          <i class="ri-money-dollar-box-line"></i>
          <span>Payment Status</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('payment_page.financial_report') }}">
          <i class="ri-exchange-dollar-line"></i>
          <span>Financial Report</span>
        </a>
      </li>
    
      {% endif %}

      {% if session['role'] == 'Manager' %}

      <li class="nav-heading">News</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('news_page.manage_news_list') }}">
          <i class="ri-article-line"></i>
          <span>News</span>
        </a>
      </li>
    
      {% endif %}

      {% if session['role'] == 'Member' or session['role'] == 'Instructor' %}
      <li class="nav-heading">Help</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('account_page.faq') }}">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('account_page.contact') }}">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->
      {% endif %}

    </ul>

  </aside><!-- End Sidebar-->

  {% block content %}{% endblock %}

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      © 2024 GreenByte. All Rights Reserved.
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script src="{{ url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/chart.js/chart.umd.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/echarts/echarts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/quill/quill.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/tinymce/tinymce.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  {% block extra_js %}{% endblock %}

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

  <!-- Toasts Container -->
  <div aria-live="polite" aria-atomic="true" class="position-relative">
    <div id="toastContainer" class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11;">
      <!-- Toasts will be added here dynamically -->
    </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var messages = JSON.parse('{{ get_flashed_messages(with_categories=true) | tojson | safe }}');
      var toastContainer = document.getElementById('toastContainer');
    
      messages.forEach(function(message) {
        var category = message[0], content = message[1];
        // Define background classes based on message category
        var bgClass = category === 'success' ? 'bg-success text-white' : 
                      category === 'danger' ? 'bg-danger text-white' : 
                      category === 'warning' ? 'bg-warning' : 
                      'bg-primary text-white'; // Default case
    
        var toastHtml = `
          <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
            <div class="toast-header">
              <strong class="me-auto">Notification</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body ${bgClass}">
              ${content}
            </div>
          </div>
        `;
    
        toastContainer.insertAdjacentHTML('beforeend', toastHtml);
      });
    
      var toastElList = [].slice.call(document.querySelectorAll('.toast'));
      var toastList = toastElList.map(function(toastEl) {
        return new bootstrap.Toast(toastEl).show();
      });
    });
    </script>    

</body>

</html>